@font-face {
    font-family: "Impact-Regular";
    src: url("../assets/fonts/ImactRegular.ttf");
}

@font-face {
    font-family: "Underground-Regular";
    src: url("../assets/fonts/08Underground-Regular.ttf");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Underground-Regular;
    color: #ffffff;
}

/* for low resolution display */

video#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/bitmaps/bgVideoPoster.jpg) no-repeat center center;
    background-size: cover;
}

#footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: auto;
    bottom: 40px;
    font-family: Impact-Regular;
    text-align: center;
    z-index: 400;
}

#footer a,
#header a,
#soundControllPanel a,
#currencyButtonPrefix {
    color: #ffffff;
    text-decoration: none;
}

#footer a:hover,
#header a:hover,
#soundControllPanel a:hover {
    color: bisque;
}

.customUnderline {
    text-decoration: none;
    background: url(../assets/bitmaps/dotted_line.png) repeat-x 100% 100%;
    padding-bottom: 2px;
    white-space: nowrap;
}

#header a:hover {

}

#footer img {
    vertical-align: middle;
    margin-left: 10px;
}

#header {
    position: absolute;
    font-size: 24px;
    z-index: 300;
}

#header img {
}

#soundControllPanel {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 100px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    word-wrap: normal;
    display: inline-block;
    word-spacing: 12px;
    font-size: 18px;
}

#soundControllPanel a {
    word-spacing: normal;
}

#sharingPanel {
    cursor: pointer;
}

#layoutHolder {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#layout {
    display: inline-block;
    width: auto;
    height: auto;
    z-index: 1;
}

#currenciesPopup {
    width: 65%;
    min-width: 403px;
    height: 100%;
    background: black;
    z-index: 200;
}

/* for high resolution display */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .customUnderline {
        text-decoration: none;
        background: url(../assets/bitmaps/dotted_line_x2.png) repeat-x 100% 100%;
        padding-bottom: 2px;
        white-space: nowrap;
    }
}